@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,regular,500,600,700,800,300italic,italic,500italic,600italic,700italic,800italic);
@import url(https://fonts.googleapis.com/css?family=Lora:regular,500,600,700,italic,500italic,600italic,700italic);

@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  -webkit-tap-highlight-color: transparent;
  outline-color: #235269;
}

@layer base {
  html {
    font-family: "Open Sans", system-ui, Avenir, Helvetica, Arial, sans-serif;
  }
}

@layer components {
  .container {
    @apply max-w-[1240px] w-full mx-auto px-[24px] md:px-[48px];
  }

  .btn-link {
    @apply px-[15px] py-[5px] bg-[#235269] text-white rounded-[3px] text-[12px] uppercase font-light transition-all duration-300 hover:bg-opacity-80;
  }
  
  .btn-medium {
    @apply px-[18px] py-[7px] bg-[#235269] text-white rounded-[3px] text-[14px] uppercase font-light transition-all duration-300 hover:bg-opacity-80;
  }

  .btn-large {
    @apply px-[22px] py-[9px] bg-[#235269] text-white rounded-[3px] text-[14px] uppercase font-light transition-all duration-300 hover:bg-opacity-80;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #444;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-button-next, .swiper-button-prev{
  width: 28px !important;
  height: 28px !important;
  display: grid;
  place-items: center;
  background-color: #f2f2f2;
  border-radius: 100%;
  /* position: absolute;
  top: -20px; */
  position: static !important;
  margin-top: 0 !important;
  transition: 300ms ease-in-out;
  font-weight: 700;
}

.swiper-button-next:hover, .swiper-button-prev:hover {
  background-color: #235269;
  color: white;
}

.swiper-button-next:after, .swiper-button-prev:after{
 font-size: 10px !important;
 color: #666 !important;
}

.swiper-button-next:hover:after, .swiper-button-prev:hover:after{
  color: #fff !important;
 }

.custom-shadow-inner{
  box-shadow: 0 0 25px rgba(0, 0, 0, .04) inset;
  -webkit-box-shadow: 0 0 25px rgba(0, 0, 0, .04) inset;
}

.modal-overlay {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

.modal-content {
  opacity: 0;
  transform: scale(0.95);
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.modal-overlay.show {
  opacity: 1;
  visibility: visible;
}

.modal-overlay.show .modal-content {
  opacity: 1;
  transform: scale(1);
}