@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,regular,500,600,700,800,300italic,italic,500italic,600italic,700italic,800italic);
@import url(https://fonts.googleapis.com/css?family=Lora:regular,500,600,700,italic,500italic,600italic,700italic);

@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  -webkit-tap-highlight-color: transparent;
  outline-color: #235269;
}

@layer base {
  html {
    font-family: "Open Sans", system-ui, Avenir, Helvetica, Arial, sans-serif;
  }
}

@layer components {
  .container {
    @apply max-w-[1180px] w-full mx-auto px-[24px] md:px-[48px];
  }

  .btn-link {
    @apply px-[15px] py-[5px] bg-[#235269] text-white rounded-[3px] text-[12px] uppercase font-light transition-all duration-300 hover:bg-opacity-80;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #444;
}
